<h1>Listing transactions</h1>

<table>
  <tr>
  </tr>

<% @transactions.each do |transactions| %>
  <tr>
    <td><%= link_to 'Show', transactions %></td>
    <td><%= link_to 'Edit', edit_transactions_path(transactions) %></td>
    <td><%= link_to 'Destroy', transactions, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transactions', new_transactions_path %>